{%extends 'layout.html'%}
{%block title%}Portfolio{%endblock%}

{%block main%}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope='col'>Price</th>
        <th scope='col'>Total</th>
      </tr>
    </thead>
    <tbody>
      {%for transaction in data.transactions%}
      <tr>
          <td>{{transaction.symbol}}</td>
          <td>{{transaction.name}}</td>
          <td>{{transaction.shares}}</td>
          <td>{{transaction.price | usd}}</td>
          <td>{{transaction.total | usd}}</td>
      </tr>
      {%endfor%}
      <tr>
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{data.cash | usd}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"></td>
        <td class="font-weight-bold">{{data.total | usd}}</td>
      </tr>
    </tfoot>
  </table>
{%endblock%}